<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/fonts/fonts.css" />
    <link rel="stylesheet" href="~/css/icons/icomoon/styles.css" />
    <link rel="stylesheet" href="~/css/icons/fontawesome/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/components.css" />
    <link rel="stylesheet" href="~/css/colors.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/DateTimePicker.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProductManagement</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Content Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white-50 bg-primary">
        <div class="container ">
            &copy; 2020 - ProductManagement
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* Datatable resoures *@
    <script src="~/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script src="~/js/plugins/tables/datatables/extensions/jszip/jszip.min.js"></script>
    <script src="~/js/plugins/tables/datatables/extensions/select.min.js"></script>

    @* Theme JS files *@
    <script src="~/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="~/js/plugins/notifications/pnotify.min.js"></script>
    <script src="~/js/plugins/notifications/toastr.min.js"></script>
    <script src="~/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/js/plugins/ui/nicescroll.min.js"></script>
    <script src="~/js/selectdate.js"></script>
    <script src="~/lib/bootstrap/dist/js/DateTimePicker.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.validate.js"></script>

    <script>
        let Loading = {
            show: () => {
                $("body").block({
                    message: '<i class="icon-spinner9 spinner"></i>',
                    overlayCSS: {
                        backgroundColor: "#1B2024",
                        opacity: 0.85,
                        cursor: "wait",
                        zIndex: 1051
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: "none",
                        color: "#fff",
                        zIndex: 1052
                    }
                })
            },
            close: () => {
                setTimeout(() => { $("body").unblock(); }, 300);
            }
        };

        let DataTableLoading = {
            show: () => {
                $(".dataTable").block({
                    message: '<i class="icon-spinner9 spinner"></i>',
                    overlayCSS: {
                        backgroundColor: "#eee",
                        opacity: 0.85,
                        cursor: "wait",
                        zIndex: 1051
                    },
                    css: {
                        border: 0,
                        padding: 0,
                        backgroundColor: "none",
                        color: "#fff",
                        zIndex: 1052
                    }
                })
            },
            close: () => {
                setTimeout(() => { $(".dataTable").unblock(); }, 300);
            }
        };
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
